<div class="container">
  <div class="display-4">
      NEUES REZEPT
  </div>
  <form [formGroup]="recipeFormGroup" (ngSubmit)="addRecipe()" class="needs-validation d-grid gap-1" novalidate>
    <!-- Rezepttitel  -->
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" formControlName="name" placeholder="Vergebe einen Namen ..." required>
        <div *ngIf="recipeFormGroup.controls.name.touched" [ngClass]="{'valid-feedback' : recipeFormGroup.controls.name.invalid === false}">
            Bitte gib deinem Rezept einen Namen.
        </div>
    </div>
    
    <!-- Kategorie -->
    <div class="input-group mb-3">
      <select class="form-control" formControlName="category">
        <option value="" disabled selected>Wähle eine Kategorie ...</option>
        <option *ngFor="let category of categories">{{ category.name }}</option>
      </select>
    </div>
    <hr>

    <!-- Zutaten -->
    <ngx-editor-menu [editor]="editorIngredients" [toolbar]="toolbar" required> </ngx-editor-menu>
    <ngx-editor [editor]="editorIngredients" formControlName="ingredients"  placeholder="Zutaten hinzufügen ..." required> </ngx-editor>
    <hr>

    <!-- Rezeptzubereitung -->
    <ngx-editor-menu [editor]="editorDescription" [toolbar]="toolbar" required> </ngx-editor-menu>
    <ngx-editor [editor]="editorDescription" formControlName="description"  placeholder="Detaillierte Beschreibung hinzufügen ..." required> </ngx-editor>
    <hr>

    <!-- Link -->
    <input type="text" class="form-control mb-3" formControlName="url" placeholder="Link hinzufügen">
    

    <!-- Image  -->   
    <div class="input-group mb-3">
      <input type="file" class="form-control" formControlName="image" (change)="fileChangeEvent($event)">
      <label class="form-label" for="customFile" for="image"></label>
    </div>

    <!-- Crop Preview -->
    <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-8">
          <h5>Crop Image</h5>
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="4 / 4"
          [resizeToWidth]="256" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <div class="text-center col-md-4">
          <h5>Preview</h5>
          <!-- Save Image -->
          <img [src]="croppedImage" (click)="uploadImage()"/>
      </div>
    </div>
          
    <!-- Submit -->
    <div>
        <button class="btn" type="submit" 
        [disabled]="!recipeFormGroup.valid"
        [ngClass]="[recipeFormGroup.valid === true ? 'btn-outline-success' : 'btn-outline-danger']"
        >Save</button>
    </div>
  </form>
</div>
<!-- Spinner -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner>  

<!-- Example starter JavaScript for disabling form submissions if there are invalid fields  -->
<script>
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>