<div class="container">
  <div class="display-4 mb-3">
      NEUES REZEPT
  </div>
  <form [formGroup]="recipeFormGroup" (ngSubmit)="addRecipe()" class="needs-validation d-grid gap-1" novalidate>
    <!-- Rezepttitel  -->
    <div class="input-groupmt-3">
        <input type="text" class="form-control shadow-sm rounded" formControlName="name" placeholder="Namen" required>
    </div>
    <div class="caption mb-3">
      <small class="text-muted" *ngIf="!recipeFormGroup.controls.name.touched">Gib deinem Rezept einen Namen</small>
      <small class="text-muted" *ngIf="recipeFormGroup.controls.name.touched" [ngClass]="{'valid-feedback' : recipeFormGroup.controls.name.invalid === false}">Du musst noch den Namen deines Rezepts eingeben!</small>
    </div>
    
    <!-- Kategorie -->
    <div class="input-group">
      <select class="form-control shadow-sm rounded" formControlName="category">
        <option value="" disabled selected>Kategorie</option>
        <option *ngFor="let category of categories">{{ category.name }}</option>
      </select>
    </div>
    <div class="caption mb-3">
      <small class="text-muted" *ngIf="!recipeFormGroup.controls.category.touched">Wähle die passende Kategorie aus</small>
      <small class="text-muted" *ngIf="recipeFormGroup.controls.category.touched" [ngClass]="{'valid-feedback' : recipeFormGroup.controls.category.invalid === false}">Du musst noch eine Kategorie auswählen!</small>
    </div>

    <!-- Zutaten -->
    <ngx-editor-menu [editor]="editorIngredients" [toolbar]="toolbar" *ngIf="isEditorIngredients==true"> </ngx-editor-menu>
    <ngx-editor class="shadow-sm rounded" [editor]="editorIngredients" formControlName="ingredients"  placeholder="Zutaten" required (click)="showEditorIngredients()"> </ngx-editor>
    
    <div class="caption mb-3">
      <small class="text-muted" *ngIf="!recipeFormGroup.controls.ingredients.touched">Fügen deine Zutantenliste hinzu</small>
      <small class="text-muted" *ngIf="recipeFormGroup.controls.ingredients.touched" [ngClass]="{'valid-feedback' : recipeFormGroup.controls.ingredients.invalid === false}">Es fehlen noch die Zutaten!</small>
    </div>

    <!-- Rezeptzubereitung -->
    <ngx-editor-menu [editor]="editorDescription" [toolbar]="toolbar" *ngIf="isEditorDescription==true"> </ngx-editor-menu>
    <ngx-editor class="shadow-sm rounded" [editor]="editorDescription" formControlName="description"  placeholder="Beschreibung" required (click)="showEditorDescription()"> </ngx-editor>
    
    <div class="caption mb-3">
      <small class="text-muted" *ngIf="!recipeFormGroup.controls.description.touched">Wie bereitet man das Rezept zu?</small>
      <small class="text-muted" *ngIf="recipeFormGroup.controls.description.touched" [ngClass]="{'valid-feedback' : recipeFormGroup.controls.description.invalid === false}">Es fehlen noch eine Beschreibung!</small>
    </div>

    <!-- Link -->
    <input type="text" class="form-control shadow-sm rounded" formControlName="url" placeholder="Link">

    <div class="caption mb-3">
      <small class="text-muted" *ngIf="!recipeFormGroup.controls.url.touched">Woher hast du das Rezept?</small>
    </div>
    

    <!-- Image  -->   
    <div class="input-group">
      <input type="file" class="form-control shadow-sm rounded" formControlName="image" (change)="fileChangeEvent($event)">
      <label class="form-label shadow-sm rounded" for="customFile" for="image"></label>
    </div>

    <div class="caption mb-3">
      <small class="text-muted" *ngIf="!recipeFormGroup.controls.url.touched">Zeige uns den Rezept mit einem Bild</small>
    </div>

    <!-- Crop Preview -->
    <div style="margin-top: 5%;" *ngIf="recipeFormGroup.controls.image.touched">
      <div class="row">
        <h5>Bild zuschneiden</h5>
      </div>
      <div class="row">
        <div class="col-6">
          <image-cropper
          class="shadow-sm" 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="4 / 3"
          [resizeToWidth]="512" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="col">
          <img [src]="croppedImage" />
        </div>
      </div>
    </div>
          
    <!-- Submit -->
    <div>
        <button class="btn" type="submit" 
        [disabled]="!recipeFormGroup.valid"
        [ngClass]="[recipeFormGroup.valid === true ? 'btn-outline-success' : 'btn-outline-danger']"
        >Save</button>
    </div>
  </form>
</div>
<!-- Spinner -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner>  

<!-- Example starter JavaScript for disabling form submissions if there are invalid fields  -->
<script>
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>