<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">COOKBOOK</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Rezepte</a>
          </li>
          <li class="nav-item">
              <a routerLink="/categories" class="nav-link waves-light" mdbWavesEffect>Kategorien</a>
          </li>
      </ul>

      <!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->