<div class="container">
    <div class="display-4 mb-3 text-uppercase">
        {{ recipe.name }}
    </div>
    <div class="mb-2">
        <img class="shadow rounded" src="{{ recipe.image }}"/>
    </div>
    
    <div class="mb-4">
        <button type="button" class="btn btn-outline-success mr-3"><i class="fas fa-print"></i> Drucken</button>
        <button type="button" class="btn btn-outline-success mr-3"><i class="fas fa-share"></i> Teilen</button>
        <button type="button" class="btn btn-outline-success mr-3"><i class="fas fa-edit"></i> Editieren</button>
        <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Löschen</button>
    </div>

    <div class="display-6 mb-2 text-uppercase">Zutaten</div>
    <div class="mb-4" [innerHTML]="recipe.ingredients"></div>
    
    <div class="display-6 mb-2 text-uppercase">Zubereitung</div>
    <div [innerHTML]="recipe.description"></div>
</div>