<div class="container">

    <!-- teaser image -->
    <div class="mb-4" style="
        background-image: url( '{{ recipe.image }}' );
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
    <img src="{{ recipe.image }}" class="img-fluid z-depth-1" />
    </div>
    <div class="bg-text">
        <h1>{{ recipe.name }}</h1>
        <p>{{ recipe.category }}</p>
    </div>

    <!-- right: content -->
    <mat-tab-group class="mb-4">
        <mat-tab label="Beschreibung"> {{ recipe.description }} </mat-tab>
        <mat-tab label="Zutaten"> {{ recipe.ingredients }} </mat-tab>
        <mat-tab label="Foto">
            <img src="{{ recipe.image }}"/>
        </mat-tab>
    </mat-tab-group>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <!-- Edit -->
        <a class="btn btn-outline-light btn-floating m-1" role="button" (click)="edit()"><i class="far fa-edit"></i></a>
  
        <!-- Delete -->
        <a class="btn btn-outline-light btn-floating m-1" role="button" (click)="delete()"><i class="fas fa-trash"></i></a>
  
        <!-- Bookmark -->
        <a class="btn btn-outline-light btn-floating m-1" role="button" (click)="bookmark()"><i class="far fa-bookmark"></i></a>
  
        <!-- Share -->
        <a class="btn btn-outline-light btn-floating m-1" role="button" (click)="share()"><i class="far fa-share-square"></i></a>
      </section>
    
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright
    </div>
  </footer>

</div>