<div class="container">
    <div class="display-4">
        Neue Kategorie
    </div>
    
    <form [formGroup]="categoryFormGroup" (ngSubmit)="addCategory()" class="needs-validation d-grid gap-1" novalidate>
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="name" placeholder="Gib einen Namen ein ..." required>
        </div>

        <div>
            <button class="btn" type="submit" 
            [disabled]="!categoryFormGroup.valid"
            [ngClass]="[categoryFormGroup.valid === true ? 'btn-outline-success' : 'btn-outline-danger']"
            >Save</button>
        </div>
    </form>
</div>
